{block content}
    <main>
        <h1 class="center">Ahoj svet!</h1>
        <img width="200px" class="circle center blackwhite" src="{$basePath}/images/fotka.png">
        <h4>Fakty o mne...</h4>
        <ul>
            <li>Volám sa Erik,</li>
            <li>mám {$age} rokov,</li>
            <li>žijem v Martine, na Slovensku,</li>
            <li>pracujem ako programátor.</li>
        </ul>
    </main>
{/block}

{block scripts}
    {include parent}
{/block}


{block head}

{/block}
