body {
	color: #000000;
	background: #f6f6f6;
    margin: 0;
    padding: 0;
}

p, div {
    margin: 0;
    padding: 0;
}

header.top {
    background-color: #000000;
    color: #FFFFFF;
    padding: 12px 0;
    margin: 0;
}

header.top > p {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    line-height: 1em;
}

main {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

main > p {
    margin: 0 0 15px;
    text-indent: 2em;
}

main p a:link, a:visited, a:active {
    color: #4e4efa;
    text-decoration: none;
    font-weight: 600;
}

main p a:hover {
    color: #6d6dfa;
    text-decoration: underline;
    font-weight: 600;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

a[href^="#error:"] {
	background: red;
	color: white;
}