body {
	color: #000000;
	background: #f6f6f6;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

a:link, a:active, a:visited {
    text-decoration: none;
    color: #4e4efa;
}
a:hover {
    text-decoration: underline;
    color: #000000;
}

p, div {
    padding: 0;
}

header.top {
    background-color: #000000;
    color: #FFFFFF;
    padding: 12px 0;
    margin: 0 0 2em;
}
header.top a:link,
header.top a:visited,
header.top a:active {
    color: #d1d0d0;
    text-decoration: underline;
}
header.top a:hover {
    color: #6d6dfa;
    text-decoration: underline;
}

header.top > p {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    line-height: 1em;
}

main {
    max-width: 960px;
    margin: 0 auto;
}

main :after {
    display: table;
    clear: both;
}

main section {
    max-width: 594px;
    padding: 0 10px;
}

.indent p {
    margin: 0 0 15px;
    text-indent: 2em;
}

main section p a:link,
main section p a:visited,
main section p a:active {
    color: #4e4efa;
    text-decoration: none;
    font-weight: 600;
}

main section p a:hover {
    color: #6d6dfa;
    text-decoration: underline;
    font-weight: 600;
}

main section article {
    margin: 0 0 2em 0;
}
main section article > h3 a:link,
main section article > h3 a:hover,
main section article > h3 a:visited,
main section article > h3 a:active {
    color: #000000;
    text-decoration: none;
}
main section article > p.perex {
    margin: 15px 0;
}
main section article > p.summary {
    color: #a0a0a0;
}
main section article > p.summary a:link,
main section article > p.summary a:visited,
main section article > p.summary a:active {
    color: #a0a0a0;
}
main section article > p.summary > span {
    float: right;
}

main section article > div.text {
    margin: 2em 0;
}

main section article div.text img.thumbnail {
    max-height: 400px;
    margin: 1em 0;
}

main section article div.summary {
    color: #a0a0a0;
}
main section article div.summary a:link,
main section article div.summary a:visited,
main section article div.summary a:hover,
main section article div.summary a:active {
    color: #000000;
    text-decoration: none;
}
main section article div.summary > time {
    color: #000000;
}

main section footer.paginator {
    padding: 2em 0;
    text-align: right;
    line-height: 3em;
}
main section footer.paginator a:link,
main section footer.paginator a:visited,
main section footer.paginator a:active {
    padding: 0.5em 1em;
    text-decoration: none;
    border: 1px solid #000000;
}
main section footer.paginator a:hover {
    background-color: #bbbbbb;
}
main section footer.paginator a.active {
    background-color: #cccccc;
}

main section div.discussion {
    padding: 0 0 2em;
}
main section div.discussion > div {
    margin: 0 0 1em;
    border: 1px solid #cccccc;
    padding: 1em;
}
main section div.discussion > div > p.info,
main section div.discussion div > div.answers > div > p.info {
    color: #bbbbbb;
    margin: 0;
}
main section div.discussion div > p.info > span.mod {
    background-color: #4e4efa;
    font-size: 0.7em;
    color: #FFFFFF;
    padding: 0.1em 0.4em;
}
main section div.discussion div > p.info > time {
    float: right;
}
main section div.discussion > div > div.answers {
    margin: 1em 0 0 2em;
}
main section div.discussion > div > div.answers > div {
    border: 1px solid #dddddd;
    padding: 0.5em 1em;
    margin: 0 0 0.5em;
}
main section div.discussion > h4 > a:link,
main section div.discussion > h4 > a:visited,
main section div.discussion > h4 > a:active,
main section div.discussion > h4 > a:hover {
    color: #000000;
    text-decoration: none;
}

main aside.menu {
    float: right;
    width: 330px;
    margin: 5px 0;
}
main aside.menu > p {
    font-weight: 600;
    padding: 0 0 0.5em;
}
main aside.menu > ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 2em;
}
main aside.menu > ul li {
    border: 1px solid #000000;
    padding: 8px;
    margin-bottom: 2px;
}
main aside.menu > ul li:hover {
    background-color: #e2e2e2;
}
main aside.menu a:link,
main aside.menu a:visited,
main aside.menu a:active {
    color: #4e4efa;
    text-decoration: none;
    font-weight: 600;
}
main aside.menu a:hover {
    color: #6d6dfa;
    text-decoration: none;
    font-weight: 600;
}

footer {
    max-width: 960px;
    padding: 0 10px 15px;
    margin: 0 auto;
    color: #939393;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

a[href^="#error:"] {
	background: red;
	color: white;
}